.wrapper__side_bar
  .wrapper__side_bar__search
    %input.wrapper__side_bar__search--area
  .wrapper__side_bar__result
    .wrapper__side_bar__result--name
      三月のパンタシア
  .wrapper__side_bar__main
    .wrapper__side_bar__main__artist_name
      三月のパンタシア
    .wrapper__side_bar__main__live
      .wrapper__side_bar__main__live__box
        .wrapper__side_bar__main__live__box--upper
          .wrapper__side_bar__main__live__box--upper__title
            秋はやっぱり、パン祭り！！
        .wrapper__side_bar__main__live__box--middle
          .wrapper__side_bar__main__live__box--middle__date
            2020年11月3日
          .wrapper__side_bar__main__live__box--middle__time
            12:00　開演
        .wrapper__side_bar__main__live__box--lower
          .wrapper__side_bar__main__live__box--lower__prefectures
            東京都
          .wrapper__side_bar__main__live__box--lower__hall
            SHIBUYA  Oーeast
      .wrapper__side_bar__main__live__box
        .wrapper__side_bar__main__live__box--upper
          .wrapper__side_bar__main__live__box--upper__title
            秋はやっぱり、パン祭り！！
        .wrapper__side_bar__main__live__box--middle
          .wrapper__side_bar__main__live__box--middle__date
            2020年11月3日
          .wrapper__side_bar__main__live__box--middle__time
            17:00　開演
        .wrapper__side_bar__main__live__box--lower
          .wrapper__side_bar__main__live__box--lower__prefectures
            東京都
          .wrapper__side_bar__main__live__box--lower__hall
            SHIBUYA  Oーeast
      .wrapper__side_bar__main__live__box
        .wrapper__side_bar__main__live__box--upper
          .wrapper__side_bar__main__live__box--upper__title
            秋はやっぱり、パン祭り！！
        .wrapper__side_bar__main__live__box--middle
          .wrapper__side_bar__main__live__box--middle__date
            2020年11月9日
          .wrapper__side_bar__main__live__box--middle__time
            12:00　開演
        .wrapper__side_bar__main__live__box--lower
          .wrapper__side_bar__main__live__box--lower__prefecture
            広島県
          .wrapper__side_bar__main__live__box--lower__hall
            DRAM Bit