.header
  .header__logo
    Ticketrio
  %ul.header__contents
    %li.header__contents__accompany
      同伴者募集
    %li.header__contents__transfer
      チケット譲渡 募集
    %li.header__contents__chenge
      チケット交換 募集
  .header__user
    チロ太郎
.wrapper
  .wrapper__side_bar
    .wrapper__side_bar__search
      %input.wrapper__side_bar__search--area
    .wrapper__side_bar__main
      .wrapper__side_bar__main__artist_name
      .wrapper__side_bar__main__live
      .wrapper__side_bar__main__live__box
        .wrapper__side_bar__main__live__date
        .wrapper__side_bar__main__live__time
        .wrapper__side_bar__main__live__prefectures
        .wrapper__side_bar__main__live__hall


  


