.header
  .header__logo
    Tichetrio
  %ul.header__contents
    %li.header__contents__accompany
      同伴者募集
    %li.header__contents__transfer
      チケット譲渡　募集
    %li.header__contents__chenge
      チケット交換　募集
  .header__user
.wrapper
  .wrapper__search
  .wrapper__main


