=render "template/header"
.wrapper
  .wrapper__side_bar
    .wrapper__side_bar__search
      %input{class:"wrapper__side_bar__search--area", placeholder:"アーティスト名を入力"}
    .wrapper__side_bar__result
     