=render "template/header"
.wrapper
  .wrapper__side_bar
    #wrapper__side_bar__search
      %input.wrapper__side_bar__search--area
    .wrapper__side_bar__result
      =link_to @artist.artist_name, lives_path(id: @artist.id), class:"wrapper__side_bar__result--name"