
.wrapper__live__add{
  width:calc(100vw - 300px);
  
  &--area{
    width: 600px;
    height: 300px;
    margin: 60px 0 0 100px;
    background-color: $main_color;
    &--title{
      font-size:20px;
    }
    .live_add{
      #_data_1i,#_data_2i,#_data_3i,#_time_4i,#_time_5i{
        height:30px;
      }
      #_data_3i{
        margin-right:20px;
      }
      .live_add_lower{
        margin-top:10px;
        #prefecture_id{
          height:30px;
          margin-right:50px;
        }
        .submit_btn{
          width: 120px;
        }
      }
    }
  }
}