h3{
  margin:20px 10px;
}
.artist__add--label{
  padding-left:20px;
  display: block;
}
.artist__add--data{
  margin:10px 0 20px 40px;
  width: 220px;
  display: block;
}
.artist__add--btn{
  display: block;
  margin-left:100px;
  padding:0 10px;
  width: 90px;
  border-radius: 5px;
}
