.comment_show_wrapper{
  width: 100%;
  background-color: $main_color;
  padding-top:60px;
  &--title{
    width:700px;
    font-size: 18px;
    
    margin: 0 auto ;
  }
  &--box{
    height:200px;
    width:700px;
    background-color: $main_bc;
    font-size: 14px;
    margin: 0 auto 50px;
    border: 0.5px solid rgb(8, 8, 8);
    position: relative;
    border-radius: 10px;
    .comment_form{
      margin:30px 0 20px 30px ;
      padding:5px;
      width: 640px;
      height: 60px;
    }
    .comment_form-btn{
      width: 200px;
      height: 30px;
      margin-left:230px;
      letter-spacing: 10px;
    }
  }
}
