@mixin user_show{
    width:700px;
    background-color: lightskyblue;
    font-size: 14px;
    margin: 0 auto 50px;
    border: 0.5px solid rgb(8, 8, 8);
    position: relative;
    a{
      position:absolute;
      top: 0;
      left: 0;
      width: 700px;
      height: 90px;
    }
    &--title{
      height: 30px;
      line-height: 30px;
      padding: 0 20px 0 5px;
    }
    &--user-info{
      border-bottom: 0.5px solid rgb(8, 8, 8);
    }
    &--artist-info{
      border-bottom: 0.5px solid rgb(8, 8, 8);
    }
    &--live-info{
      height: 30px;
      line-height: 30px;
      padding: 0 20px 0 5px;
      display:flex;
      &__stage{
        margin-left:150px;
        &__prefecture{
          padding:0 10px
        }
      }
    }
  }

.warapper__user_show{
  display: flex;
  &__side_bar{
    width: 300px;
    height:calc(100vh - 100px);
    background-color: khaki;
  }
  
  &__main{
    width: calc(100% - 300px);
    background-color: lightcyan;
    padding-top: 100px;
    &__post{
      &--ticket{
        .post--ticket--edit{
          width:700px;
          margin: 0 auto;
          text-align: right;
        }
        .post--ticket__box{
          @include user_show;
          height: 90px;
        }
      }
    }
    &__comment{
      &--ticket{
        .comment--ticket__box{
          @include user_show;
          &--text{
            border-top: 0.5px solid rgb(8, 8, 8);
            &--area{
              padding: 10px 0 0 10px;
            }
            &--time{
              text-align: right;
              padding: 10px;
            }
          }
        }
      }
    }
  }
}
