.header{
  display: flex;
  height: 100px;
  width: 100vw;
  background-color: #f0f8ff;
  &__logo{
    height: 100%;
    width:100px;
    margin-left: 50px;
    line-height: 100px;
  }
  ul{
    width: 800px;
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    li{
    list-style: none;
    }
  }
  
  &__user{
    text-align: right;
    margin-right: 60px;
    line-height: 100px;
    width:calc(100% - 900px) ;
  }
}
.wrapper{
  height: calc(100vh - 100px);
  width: 100vw;
  background-color: lightskyblue;
  &__side_bar{
    height: 100%;
    width: 300px;
    background-color: lightpink;
    &__search{
      width:100%;
      background-color: lightslategray;
      padding: 40px 0 ;
      &--area{
        display: block;
        width: 80%;
        height: 25px;
        margin: 0  auto;
        font-size: 14px;
        border-radius: 5px;
      }
    }
    &live_info{}
  }

  &__main{

  }
}
  
